* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
 
body{
    background-color: #161616;
    font-family: 'Montserrat', sans-serif;
}

.inicio{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

 


.inicio h1{
    color: white;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
}

#myName{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    color: #04ec5d;
}

.p_inicio{
    color: white;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.redes_1 {
    
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    
}
.redes{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.icons_social{
    width: 25px;
    
}

/* SOBRE */

/* .sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
} */

.img-float{
    animation: float 4s ease-in-out infinite;
    width: 500px;
    margin-left: 100px;
}

.sobre {
    color: aliceblue;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

.flex_container{
    display: flex;
    justify-content: center;
    gap: 100px;
  
  padding: 10px;
}
.sobre_p {
    color: white;
    max-width:500px;
    padding: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
}
.img_sobre{
    width: 300px;
    border-radius: 50px;
}


/* SOBRE */

/* SKILLS */
h3{
    color: aliceblue;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    
}

    
.cards_skill{
    background-color: rgb(48, 47, 47);
    border-radius: 100px;
    transition-property: box-shadow, transform;
    -webkit-transition-property: box-shadow, transform;
    transition-duration: 0.3s;
    -moz-osx-font-smoothing: grayscale;
}

.cards_skill:hover {
    transform: scale(1.1);
}


.border_skill{
    /* border: 1px solid wheat; */
    padding: 30px;
    margin: auto;
    margin-top: 150px;
    height: auto;
    width: 50rem;
    padding: 30px
}
.skill{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}



.img_skil{
    width: 130px;
    padding: 10px;
    border-radius: 50px;
    
    
}
/* SKILLS */

/* PROJETOS */

.h4_projetos{
    color: white;
    text-align: center;
    margin-top: 100px;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    
}
.h4_projetosTitulo{
    color: white;
    text-align: center;
}

.projetos{
    display: flex;
    gap: 50px;
    margin-top: 10px;
    padding: 100px;
}



.projeto01{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 10px;
}

.projeto02{
    max-width: 300px;
    margin: 25px 0;
    color: aliceblue;
}

.cards{
    background-color: rgb(48, 47, 47);
    padding: 15px;
    border-radius: 10px;
}

.cards_1{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    margin-top: 300px;
  
}



/* PROJETOS */





@keyframes float{
	0%,100%{
		/* box-shadow:0 5px 15px 0 rgba(0,0,0,.6); */
		transform:translatey(0)
	}
	50%{
		/* box-shadow:0 1px 1px 0 rgba(80, 79, 79, 0.2); */
		transform:translatey(-20px)
	}
}

div a:hover{
    background-color: rgb(87, 87, 87);
    color: white;
}


#myName::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: myName .7s infinite;
  }

  @keyframes myName {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }


  @keyframes kicar {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}


@media (max-width: 768px){
    .inicio{
    display: flex;
    flex-direction: column-reverse;
    text-align:center;
    gap: 100px;
    }
    
    .inicio h1{
        font-size: 30px;
        margin: auto;
        
    }

    .redes{
        justify-content: center;
    }

    .flex_container{
        display: flex;
        flex-direction: column;
    }

    .img_sobre{
        margin: auto;
    }
    
    h3{
        margin: auto;
    }
    
    .skill{
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        align-items: center;
        /* margin-right: 300px; */
    }

    .border_skill{
        padding: 0;
        margin-top: 150px;
        width: 0rem;
    }

    .projetos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

   .img-float{
    margin: auto;
   }
} 